name: Auto Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Zip Archive
        run: |
          zip -r "gemini-captcha-solver-${{ github.ref_name }}.zip" . -x "*.git*" ".github*"

      - name: Calculate SHA256
        id: shasum
        run: |
          sha=$(sha256sum "gemini-captcha-solver-${{ github.ref_name }}.zip" | awk '{ print $1 }')
          echo "sha=$sha" >> $GITHUB_OUTPUT

      - name: Get Changelog Content
        id: changelog
        run: |
          content=$(cat changelog.md)
          echo "body<<EOF" >> $GITHUB_OUTPUT
          echo "$content" >> $GITHUB_OUTPUT
          echo -e "\n\n**SHA256 Checksum:**\n\`${{ steps.shasum.outputs.sha }}\`" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.changelog.outputs.body }}
          files: |
            gemini-captcha-solver-${{ github.ref_name }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}